<app-default-login-layout
  (navigate)="navigate()"
  (submit)="submit()"
  [disablePrimaryBtn]="!signupForm.valid"
  [primaryBtnId]="'btn-primary-signup'"
  [secondaryBtnId]="'btn-secondary-login'"
  primaryBtnText="Registre-se"
  secondaryBtnText="Já tem conta?"
  title="Entre e comece hoje mesmo!"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      id="name-input"
      inputName="name"
      label="Seu nome"
      placeholder="João da silva"
      type="text"
    >
      <img alt="email icon" height="24" src="/assets/svg/email-icon.svg" width="24"/>
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      id="email-input"
      inputName="email"
      label="E-mail"
      placeholder="email@exemplo.com"
      type="email"
    >
      <img alt="email icon" height="24" src="/assets/svg/email-icon.svg" width="24"/>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      id="password-input"
      inputName="password"
      label="Sua senha"
      type="password"
    >
      <img alt="password icon" height="24" src="/assets/svg/password-icon.svg" width="24"/>
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      id="password-confirm-input"
      inputName="passwordConfirm"
      label="Confirme sua senha"
      type="password"
    >
      <img alt="password icon" height="24" src="/assets/svg/password-icon.svg" width="24"/>
    </app-primary-input>
  </form>
</app-default-login-layout>
