<app-default-login-layout
  (navigate)="navigate()"
  (submit)="submit()"
  [disablePrimaryBtn]="!loginForm.valid"
  [primaryBtnId]="'btn-primary-login'"
  [secondaryBtnId]="'btn-secondary-signup'"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  title="Login into your account"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      id="email-input"
      inputName="email"
      label="Email"
      placeholder="johndoe@gmail.com"
      type="email"
    >
      <img alt="email icone" height="24" src="/assets/svg/email-icon.svg" width="24"/>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      id="password-input"
      inputName="password"
      label="Your Password"
      type="password"
    >
      <img alt="password icon" height="24" src="/assets/svg/password-icon.svg" width="24"/>
    </app-primary-input>
    <span>Forgot password?</span>
  </form>
</app-default-login-layout>
